h1 {
    padding: 10px 0;
    color: white;
    text-align: left;
    background: teal;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border: 30px
    margin-bottom: 20px;
    font-size: 18px;
    float: left;
    position: absolute;
    border-width: 30px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    display: block;
}
.topnav {
    float: right;
    display: inline;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: black;
    font-size: 10px;
}
h2 {
    padding: 10px 0;
    margin: 10;
    font-size: 18px;
    color: teal;
    text-align: left;
    background white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    position: fixed;
    border: 30px
    display: block;
    font-weight: bold;
}

